$mainBackgroundColor: #0a0000;
$mainBackgroundColorRed: #c01010;
.main-div-background {
    background: linear-gradient(0deg, $mainBackgroundColor 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main-div-container {
    position: initial;
    width: 100%;
    height: 100vh;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    -moz-background-clip: content-box;
    background-image: url("https://i.imgur.com/96ApQDv.png");
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-repeat: repeat;
    animation: backgroundScroll 20s ease-in-out infinite, backgroundGlow 3s ease-in-out infinite;
}

@keyframes backgroundScroll {
	0%, 100% {
        background-position: 0% 0%;
    }
	50% {
        background-position: /*372%*/ 100% 100%;
    }
}

$backgroundGlowColor: #d04040;

@keyframes backgroundGlow {
    0%, 100% {
        filter: drop-shadow(2px 2px 3px $backgroundGlowColor);
    }
    50% {
        filter: drop-shadow(2px 2px 1px $mainBackgroundColor);
    }
}

#main-div-container-image {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 50px;
}

#janny-image-div {
    margin-left: 50px;
}

#janny-image {
    pointer-events: none;
    width: 80%;
    max-width: 100%;
    outline: 2px outset #fff;
    border-radius: 50%;
    animation-name: JannyImageBackground;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
    background-image: url("https://i.imgur.com/82ozVEK.png"), linear-gradient(90deg, #800000, #a00000, #800000);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: #800000;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
}

@media screen and (max-width: 768px) {
    .main-div-container {
        flex-direction: column;
    }

    #janny-image-div {
        margin: 0px;
        padding: 0px;
    }

    #janny-image {
        width: 40%;
    }
}


@keyframes JannyImageBackground {
    0% {
        background-position: 0%;
    }
    50% {
        transform: translate(0px, -5px);
    }
    100% {
        background-position: 40px 40px;
    }
}

#janny-logo-image {
    pointer-events: none;
    opacity: 1;
    width: 80%;
    animation: hoverSimpleAnimation 2s normal infinite ease-in-out,
    JannyLogoReveal 1s normal 1 ease-in-out;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
}

@media screen and (max-width: 768px) {
    #janny-logo-image {
        width: 100%;
    }    
}

@keyframes JannyLogoReveal {
    0% {
        opacity: 0;
        transform: translate(0px, -100px) scale(0.1);
    }
}

@keyframes hoverSimpleAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px) translateX(-5px) rotateX(1deg);
    }

    100% {
        transform: translateY(0);
    }
}

#main-div-container-buttons {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-buttons {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
    color: #fff;
    font-family: "Poppins";
    font-size: 12pt;
    box-shadow: #101010 0px 3px;
}
.main-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.main-buttons:active {
    filter: invert(0.05);
}

$inviteButtonColor: #b03030;
$supportButtonColor: #808080;

#invite-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: $inviteButtonColor;
    border: 2px solid $inviteButtonColor;
    margin: 0 auto;
}
#invite-button:hover {
    background-color: $inviteButtonColor;
    color: #fff;
}

#support-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: $supportButtonColor;
    border: 2px solid $supportButtonColor;
    margin: 0 auto;
}
#support-button:hover {
    background-color: $supportButtonColor;
    color: #fff;
}

#arrow {
    filter: brightness(2);
    animation-name: arrowAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: all 0.3;
}

@keyframes arrowAnimation {
    0% {
        transform: translate3d(0, -60px, 0);
    }
    50% {
        transform: translate3d(0, -40px, 0);
    }
    100% {
        transform: translate3d(0, -60px, 0);
    }
}

.introduction-main-div {
    background-color: $mainBackgroundColor;
}

#introduction-title {
    margin: 0;
    font-family: "Poppins";
    font-size: 28pt;
    font-weight: bold;
}

/* Titulo da aba de comandos */
#introduction-commands-title {
    color: #fff;
    margin: 0;
    font-size: 28pt;
    font-family: "Poppins";
    font-weight: bold;
}

$jannySpanColor: #c01010;

#janny-span {
    text-decoration: none;
    color: $jannySpanColor;
    background-size: 100% 2px;
    background-position: 0px 43px;
    background-repeat: no-repeat;
    transition: all 0.3s;
}
#janny-span:hover {
    background-image: linear-gradient(90deg, $jannySpanColor, $jannySpanColor);
    animation: JannySpanHover 0.3s ease-out;
}
@keyframes JannySpanHover {
    0% {
        background-size: 0px 2px;
    }
}

.introduction-title-lines {
    width: 100%;
}

#introduction-title-red-line {
    width: 65%;
    height: 2px;
}

.introduction-texts-div {
    width: 100%;
    margin: auto;
}

/* Divs da introdução */
.intro-divs {
    padding: 5vh 0;
}

/* Div da primeira aba: introdução */
#introduction-div {
    height: unset;
}

/* Div das estatísticas */
#introduction-stats-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Divs de cada uma das estatísticas */
.stats-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Divs dos ícones das estatísticas */
.stats-icon-divs {
    margin-right: 10px;
}

/* Ícones das estatísticas */
.stats-icons {
    pointer-events: none;
    width: 50px;
    height: 50px;
}

/* Divs dos textos das estatísticas */
.stats-text-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

$statsColor: #d02020;

/* Nomes das estatísticas */
.stats-names {
    font-family: "Poppins";
    font-size: 16pt;
    font-weight: bold;
    color: $statsColor;
    margin: 0;
}

/* Contadores das estatísticas */
.stats-counters {
    font-family: "Poppins";
    font-size: 12pt;
    color: #fff;
    margin: 0;
}

/* Div da segunda aba: sobre mim */
#introduction-aboutme-div {
    height: 60vh;
}

/* Nome de usuário do criador */
#introduction-aboutme-username {
    text-decoration: none;
}

/* Div da quarta aba: convite */
#introduction-invite-div {
    height: unset;
}

/* Alinhar título e linha */
.index-hr-flex {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin: auto;
}

/* Linha */
.index-hr {
    width: 80%;
    margin: 0;
}

/* Título da linha */
.index-hr-titles {
    color: #d02020;
    font-size: 12pt;
    font-weight: 600;
    margin: 0 5px;
}

/* Linha da aba de comandos */
#index-hr-commands, #index-hr-invite {
    position: initial;
}


.introduction-texts-board {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
}

/* Div dos textos da introdução */
/* Div dos textos da parte sobre mim */
#introduction-main-text-div, #introduction-main-aboutme-text-div, #introduction-main-commands-text-div, #introduction-main-invite-text-div {
    min-height: 10rem;
    max-width: 50rem;
    /*background-color: #201010;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px ;
    border-radius: 25px;
}

/* Div do título da introdução */
#introduction-title-div {
    margin: 10px 0;
}
 
/* Título da introdução */
#introduction-title {
    color: #fff;
}

/* Div do texto da introdução */
#introduction-text-div {
    width: 80%;
    max-width: 80rem;
}

/* Div do texto sobre mim */
#introduction-aboutme-text-div {
    width: 60%;
}

/* Texto da introdução */
#introduction-text {
    text-align: center;
    color: #a0a0a0;
    font-family: "Poppins";
    font-size: 12pt;
}

/* Botão da introdução linkando para sobre mim */
/*#introduction-aboutme-button-div {
}*/

$aboutmeButtonColor: #ff7777;
$aboutmeButtonColor2: #7777ff;
/* Botão linkando para sobre mim */
#intro-to-about-button {
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: $aboutmeButtonColor;
    border: 2px solid $aboutmeButtonColor;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 1px;
    transition: all 0.3s;
}
#intro-to-about-button:hover {
    transform: scale(1.1);
    background-color: $aboutmeButtonColor2;
    color: #fff;
    border: 2px solid $aboutmeButtonColor2;
    box-shadow: $aboutmeButtonColor2 0px 0px 1rem;
}

/* Alinhar categorias */
.introduction-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Alinhar itens das categorias */
.introduction-categories-flex {
    background-color: #200000;
    max-width: 300px;
    max-height: 200px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.introduction-categories-flex:hover {
    transform: scale(1.05);
}

/* Alinhar categorias */
#introduction-categories-main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 1rem;
    border-radius: 10px;
} 


/* Ícones da aba comandos */
.index-icons {
    width: 30px;
    pointer-events: none;
}

/* Alinhar títulos e ícones das categorias */
.display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

/* Div dos ícones das categorias */
.categorie-icons {
    display: flex;
}

/* Títulos das categorias */
.categorie-titles {
    font-family: "Poppins";
    font-size: 15pt;
    font-weight: 700;
    margin: 0;
    margin-left: 7.5px;
}

/* Descrições das categorias */
.categorie-descriptions {
    color: #f0d0d0;
    font-family: "Poppins";
    font-size: 10pt;
    text-align: justify;
}

/* Links (botões) das categorias */
.index-categorie-buttons {
    padding: 15px;
    border: 0px;
    border-radius: 25px;
    color: #fff;
    font-family: "Poppins";
    font-size: 12pt;
    font-weight: 700;
    transition: all 0.1s;
}

.index-categorie-buttons:hover {
    transform: translateY(-3px);
    color: #fff;
    filter: brightness(0.9);
    cursor: pointer;
}

/* Botão de convite */
.introduction-invite-button:hover {
    filter: brightness(0.9);
}

#index-invite-button {
    cursor: pointer;
    background-color: transparent;
    color: $inviteButtonColor;
    border: 2px solid $inviteButtonColor;
    font-size: 12pt;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 25px;
    transition: all 0.3s;
}
#index-invite-button:hover {
    transform: scale(1.04);
    background-color: $inviteButtonColor;
    color: #fff;
    box-shadow: $inviteButtonColor 0px 0px 10px;
}