footer {
    border-top: 1px solid #302020;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(15, 5, 5, 1), rgba(15, 5, 5, 1));
    color: #505050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.footer-categories {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 15px;
}

.footer-divs {
    width: 25%;
    display: block;
}

.footer-titles {
    text-transform: uppercase;
    color: #fff;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: bold;
}

.footer-texts {
    font-family: "Poppins";
    font-size: 10pt;
    font-weight: 200;
}

#footer-main-div-text-tag {
    color: #fff;
    font-size: 12pt;
}

.footer-ul {
    list-style: none;
    padding: 0;
}

.footer-li {
    list-style: none;
    padding: 5px 0;
    transition: all 0.3s;
}

.footer-li-links {
    text-decoration: none;
    color: #a0a0a0;
    font-family: "Poppins";
    font-size: 12pt;
}
.footer-li-links:hover {
    text-decoration: underline;
    color: #909090;
}