/* Configurações/variáveis da barra de navegação */
:root {
    --nav-bar-height: 50px; /* Altura da barra de navegação */
}

$navBarColor: #0a0a0a;
/* Barra de navegação */
.nav-bar {
    width: 100%;
    height: var(--nav-bar-height);
    position: fixed;
    z-index: 1;
    background-color: $navBarColor;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}

/* Barra de navegação desativada */
.nav-bar.closed {
    opacity: 0.8;
    transform: translateY(calc(var(--nav-bar-height) * -1));
}

/* Barra de navegação (Maior que 768px e menor que 1024px) */
.navigation-bar-max-width-1024px {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Barra de navegação (Menor que 768px) */
.navigation-bar-max-width-768px {
    height: 100%;
}

/*Maior que 768px e menor que 1024px*/
@media screen and (min-width: 769px) {
    .navigation-bar-texts-div {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation-bar-max-width-768px {
        display: none
    }
}

/*Maior que 480px e menor que 768px*/
@media screen and  (max-width: 768px) {
    .navigation-bar-max-width-1024px {
        display: none;
    }

    .navigation-bar-texts-div {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-bar-button-div {
        display: none;
    }
}

.navigation-align-img-text {
    width: 100%;
    height: 100%;
}

#nav-enter-div {
    color: #fff;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 500;
    background-color: #3050e0;
    padding: 8px 10px;
    border: #000;
    border-radius: 5px;
    transition: all 0.3s;
}

#nav-enter-div:hover {
    color: #d0d0d0;
    background-color: #2040d0;
}

$navTextColor: #c01010;
.nav-texts-links {
    height: 100%;
    text-decoration: none;
    background-image: linear-gradient(90deg, $navTextColor, $navTextColor);
    background-position: 0 48px;
    background-repeat: no-repeat;
    background-size: 0px 2px;
    color: rgb(200, 200, 200, 1);
    font-family: "Poppins";
    font-size: 12pt;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.nav-texts-links:hover {
    background-size: 100% 2px;
    color: $navTextColor;
}

.nav-texts.gray:hover {
    color: rgb(220, 220, 255);
}

.nav-icons {
    width: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-bars-image {
    width: 20px;
}

#nav-text-enter {
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar-div-area:hover {
    color: #444
}

#nav-bars-enter-discord-logo {
    position: relative;
    top: 3.5px;
    left: -5px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Menu de navegação */
.navigation-menu {
    position: relative;
    height: var(--nav-bar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation-menu-div {
    width: 30%;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    background-color: $navBarColor;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
    transition: all 0.3s;
}
.navigation-menu-div[class~="closed"] {
    pointer-events: none;
    opacity: 0;
}

.navigation-bar-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#navigation-bar-button {
    background-color: transparent;
    width: 30%;
    min-width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: unset;
    transition: background-color 0.3s;
}
#navigation-bar-button:hover {
    cursor: pointer;
    filter: invert(0);
}

#navigation-bar-button#open {
    transition: background-color 0.3s;
}

#navigation-bar-menu-icon {
    width: 30px;
    cursor: pointer;
}

/* Div do botão de fechar barra de navegação */
#nav-bar-button-div {
    float: unset; /* left para esquerda */
    width: 60px;
    margin: auto;
}

/* Botão da barra de navegação */
#nav-bar-button {
    width: 60px;
    height: 25px;
    background-color: $navBarColor;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px;
}

.nav-bar-button:hover {
    cursor: pointer;
}

/* Imagem do botão de abrir/fechar barra de navegação */
#nav-button-image {
    width: 18px;
    transition: all 0.3s;
}