$aboutMainRadialColor: #050000;

#about-page {
    background-color: $aboutMainRadialColor;
}

.about-main-introduction {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $aboutMainRadialColor;
}

#about-main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Div da esquerda */
#about-left-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título da primeira aba */
#about-title {
    font-family: "Poppins";
    font-size: 32pt;
    font-weight: bold;
    color: #fff;
}

$spanColor: #c01010;
/* Span do título */
#about-title-span {
    cursor: pointer;
    color: $spanColor;
    background-image: linear-gradient(90deg, $spanColor, $spanColor);
    background-position: 0px 50px;
    background-repeat: no-repeat;
    background-size: 0px 2px;
    border-radius: 10px;
    transition: all 0.3s;
}
#about-title-span:hover {
    background-size: 100% 2px;
    text-shadow: $spanColor 0px 0px 3px;
}

/* Divs das descrições */
.about-description-divs {
    max-width: 60vw;
}

/* Descrição */
#about-description {
    color: var(--font-color-gray-A);
    font-size: 14px;
    font-family: "Poppins";
}

/* Div dos detalhes */
#about-details-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Detalhes */
.about-details {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 10%;
}

/* Ícones dos detalhes */
.about-details-icons {
    pointer-events: none;
    width: 20px;
    height: 20px;
    filter: drop-shadow(0px 0px 5px $spanColor);
    transform: translateY(-3px);
}

/* Textos dos detalhes */
.about-details-texts {
    font-family: "Poppins";
    font-size: 1rem;
    color: var(--font-color-gray-8);
}

/* Div do botão de convidar bot */
#about-invite-button-div {
    padding: 20px 0;
}

$inviteButtonColor: #c01010;
/* Botão de convidar bot */
#about-invite-button {
    text-decoration: none;
    display: block;
    background-color: transparent;
    background-image: linear-gradient(0deg, $inviteButtonColor, transparent);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    background-position: 100% 0%;
    color: $inviteButtonColor;
    padding: 0.8rem 1.6rem;
    border: 2px solid $inviteButtonColor;
    border-radius: 25px;
    transition: all 0.3s;
}
#about-invite-button:hover {
    transform: scale(1.03);
    background-position: 100% 100%;
    filter: drop-shadow(0px 0px 5px $inviteButtonColor);
    color: #fff;
}

/* Div da direita */
#about-right-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Imagem da logo do Janny */
#about-logo-image {
    width: 100%;
    min-width: 300px;
    pointer-events: none;
    opacity: 1;
    animation: hoverSimpleAnimation 2s ease-in-out infinite,
    AboutLogoReveal 0.5s ease-in-out;
    padding: 3rem;
}

@keyframes AboutLogoReveal {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
}

/* Sessão de sobre */
.about-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: $aboutMainRadialColor;
}

/* Board da sessão de sobre */

/* Div da imagem da sessão sobre */
.about-image-div {
    margin: 5%;
}

/* Div de textos da sessão sobre */
.about-texts-div {
    margin: 5%;
}

/* Div principal dos painéis */
#about-panel-div {
    background-color: $aboutMainRadialColor;
}

/* Sessões para alinhar painéis e textos */
.about-main-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.about-main-sections.reverse {
    flex-direction: row-reverse;
}

/* Divs dos textos dos painéis */
.about-main-texts-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

/* Divs dos títulos dos painéis */
.about-main-titles-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 20px;
}

/* Ícones dos títulos dos painéis */
.about-main-icons {
    width: 40px;
    height: 40px;
}

/* Títulos dos painéis */
.about-main-titles {
    color: #fff;
    display: block;
    font-size: 40px;
    text-align: left;
}

/* Divs das descrições dos painéis */
.about-main-descriptions-divs {
    width: 60%;
}

/* Descrições dos painéis */
.about-main-descriptions {
    color: #aaa;
    display: block;
    font-size: 16px;
    text-align: left;
}

/* Divs dos painéis */
.about-main-images-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

/* Painéis */
.about-main-images {
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 50vw;
    filter: drop-shadow(0px 0px 10px rgba(200, 200, 200, 0.2));
    animation: AboutMainImagesHover 3s infinite ease-in-out;
}

@keyframes AboutMainImagesHover {
    50% {
        transform: translateY(5px);
    }
}

@media screen and (min-width: 769px) {
    /* Board da sessão de sobre */
    .about-board {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    /* Board da sessão de sobre */
    .about-board {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    #about-right-div {
        width: 80%;
    }
    /* Sessões para alinhar painéis e textos */
    .about-main-sections {
        flex-direction: column;
    }
    .about-main-sections.reverse {
        flex-direction: column;
    }

    
    /* Divs dos textos dos painéis */
    .about-main-texts-divs {
        width: 80vw;
    }

    /* Divs das descrições dos painéis */
    .about-main-descriptions-divs {
        width: unset;
    }
    
    /* Divs dos painéis */
    .about-main-images-divs {
        width: 100%;
    }

    /* Painéis */
    .about-main-images {
        width: 90%;
    }
}