.commands-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.moderation-commands-bars {
    align-items: center;
    width: 60%;
    display: block;
    box-sizing: border-box;
    margin: 0;
}

.close .moderation-commands-content {
    height: 0px;
    transition:height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;
}

.open .moderation-commands-content {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #000;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: block;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .moderation-commands-titles{
    margin:0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #073e63;
    color: #cdd7d8;
}

.moderation-commands-titles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    cursor: pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    font-size: 22px;
    font-weight: 400;
    background:#a0a0ff;
    color:#fff;
    width:100%;
    border-radius: 3px;
    box-sizing: border-box;
}

.moderation-commands-titles span {
    float: right;
    font-size: 20px;
}