body {
    width: 100%;
    height: 100%;
}

.index-page {
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 320px) {
    .index-page {
        min-width: 320px;
    }
}

/*@media screen and (min-width: 320px) and (max-width: 540px){
    .index-page {
        min-width: 540px;
    }
}

@media screen and (min-width: 540px) and (max-width: 780px) {
    .index-page {
        min-width: 780px;
    }
}*/

/* Classes globais */
:root {
    --font-color-white: #fff;
    --font-color-gray-1: #d0d0d0;
    --font-color-gray-2: #c0c0c0;
    --font-color-gray: #303030;
    --font-color-categorie-0: #3060ff;
    --font-color-categorie-1: #ffd000;
    --font-color-categorie-2: #ffb000;
    --font-color-categorie-3: #20a000;
    --font-color-categorie-4: #ff5530;
    --font-color-categorie-5: #dd50ff;
    --font-color-categorie-6: #9910ee;
    --font-color-categorie-7: #ee3060;
    --font-color-categorie-8: #ccccdd;
}

.font-color-white {
    color: var(--font-color-white);
}

.fc-gray-1 {
    color: var(--font-color-gray-1);
}

.fc-gray-2 {
    color: var(--font-color-gray-2);
}

.fc-categorie-0 {
    color: var(--font-color-categorie-0);
}

.fc-categorie-1 {
    color: var(--font-color-categorie-1);
}

.fc-categorie-2 {
    color: var(--font-color-categorie-2);
}

.fc-categorie-3 {
    color: var(--font-color-categorie-3);
}

.fc-categorie-4 {
    color: var(--font-color-categorie-4);
}

.fc-categorie-5 {
    color: var(--font-color-categorie-5);
}

.fc-categorie-6 {
    color: var(--font-color-categorie-6);
}

.fc-categorie-7 {
    color: var(--font-color-categorie-7);
}

.fc-categorie-8 {
    color: var(--font-color-categorie-8);
}

.fd-underline-0 {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-0);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-0:hover {
    text-shadow: var(--font-color-categorie-0) 0px 0px 3px;
}

.fd-underline-1 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-1);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-1:hover {
    text-shadow: var(--font-color-categorie-1) 0px 0px 3px;
}

.fd-underline-2 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-2);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-2:hover {
    text-shadow: var(--font-color-categorie-2) 0px 0px 3px;
}

.fd-underline-3 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-3);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-3:hover {
    text-shadow: var(--font-color-categorie-3) 0px 0px 3px;
}

.fd-underline-4 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-4);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-4:hover {
    text-shadow: var(--font-color-categorie-4) 0px 0px 3px;
}

.fd-underline-5 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-5);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-5:hover {
    text-shadow: var(--font-color-categorie-5) 0px 0px 3px;
}

.fd-underline-6 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-6);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-6:hover {
    text-shadow: var(--font-color-categorie-6) 0px 0px 3px;
}

.fd-underline-7 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-7);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-7:hover {
    text-shadow: var(--font-color-categorie-7) 0px 0px 3px;
}

.fd-underline-8 {
    text-decoration: underline;
    text-decoration-color: var(--font-color-categorie-8);
    text-decoration-thickness: from-font;
    transition: all 0.3s;
}
.fd-underline-8:hover {
    text-shadow: var(--font-color-categorie-8) 0px 0px 3px;
}

.bs-categorie-0 {
    box-shadow: rgba(48, 96, 255, 0.1) 0px 10px 15px;
}

.ta-justify {
    text-align: justify;
}

.hr-color-gray {
    border-width: 0;
    height: 1px;
    background-color: var(--font-color-gray);
}

.hr-height-3px {
    border-width: 0;
    height: 3px;
}

.margin-auto {
    margin: auto;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pointer-events-none {
    pointer-events: none;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #101010;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background-color:rgba(200, 30, 30);
    background-image: linear-gradient(180deg, rgba(200, 30, 30, 1) 0%, rgba(150, 10, 10, 1) 100%);
    border-radius: 10px;
}