@font-face {
	font-family: "Poppins";
	src: url("../public/fonts/font_Poppins.ttf");
}

body {
	margin: 0;
	font-family: "Poppins";
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}